{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="block-login">

    <div class="block-login-content">
        <h1>Sign in/<a href="{{ path('fos_user_registration_register') }}">Create Account</a></h1>
        <form id="signigForm" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group"> 
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" class="form-control" required="required" />
            </div>
            <div class="pull-left">
                <div class="checkbox">
                    <label><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>
                </div>
            </div>
            <input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
</div>
{% endblock fos_user_content %}
